<div class="container">
  <div class="row">
    <div class="col">
      <div class="title-container">
        <h1>ReyRey's Restaurants</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="reyrey-picture">
        <p>edit who?</p>
        <img src="../../../assets/bt_edit.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-container">
        <form [formGroup]="editForm" (ngSubmit)="save()" class="form-container">
          <mat-form-field>
            <input
              matInput
              placeholder="name"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="description"
              formControlName="description"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="location"
              formControlName="location"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="link"
              formControlName="link"
              required
            />
          </mat-form-field>
          <div class="score">
            <span class="stars-title">
              <i class="far fa-star"></i>
              Stars
              <i class="far fa-star"></i>
            </span>
            <mat-slider
              name="stars"
              class="slider-margin"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [tickInterval]="tickInterval"
              formControlName="stars"
              [vertical]="vertical"
              required
            >
            </mat-slider>
          </div>
          <mat-form-field>
            <input
              matInput
              placeholder="review"
              formControlName="review"
              required
            />
          </mat-form-field>
          <div class="wg-buttons">
            <button
              mat-raised-button
              color="success"
              type="submit"
              [disabled]="!editForm.valid"
              id="create-button"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="cancel()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
