<div class="container">
  <div class="row">
    <div class="col">
      <div class="title-container">
        <h1>ReyRey's Restaurants</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="reyrey-picture">
        <p>Love me some Gatorade....nom nom nom nom</p>
        <img src="../../../assets/wg_create.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container col">
      <form [formGroup]="saveForm" (ngSubmit)="save()" class="form-container">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="link" formControlName="link" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="description"
            formControlName="description"
          />
        </mat-form-field>
        <div class="wg-buttons">
          <button
            mat-raised-button
            color="success"
            type="submit"
            [disabled]="!saveForm.valid"
            id="create-button"
          >
            Create
          </button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
