img {
  height: 10em;
  width: 8em;
  margin: 2em;
}

.picture-caption {
  font-size: 1.25em;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wg-card {
  width: 18em;
  background-color: #424242;
  margin: 1em;
}

.fastfood-button {
  background-color: green;
}

.delete-button {
  background-color: red;
}

.card-description {
  display: flex;
  font-size: 1em;
  margin: 1em;
  text-align: left;
}

.wg-title {
  color: #2196f3;
}

a {
  color: white;
}
