img {
  width: 10em;
  height: 10.5em;
}

p {
  font-size: 1em;
  text-align: left;
  margin-top: 0.5em;
}

.picture-caption {
  font-size: 1.25em;
  margin: 0.5em;
}

.card-content {
  width: 20em;
}

.card {
  margin: 0.5em;
}

i {
  margin: 0.1em;
}

.bt-card {
  width: 18rem;
  background-color: #424242;
  margin: 1em;
}

li {
  background-color: #424242;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wg-buttons > button {
  width: 10em;
}

.bt-title {
  color: #2196f3;
}

.card-description {
  display: flex;
  font-size: 1em;
  margin: 1em;
  text-align: left;
}
