@import '~@angular/material/theming';

@include mat-core();

$custom-typography: mat-typography-config($font-family: '"Lobster", cursive;');
@include mat-core($custom-typography);

$my-theme-primary: mat-palette($mat-gray, 900);
$my-theme-accent: mat-palette($mat-blue);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
@include angular-material-theme($my-theme);
