<div class="title-container">
  <div class="welcome-title" id="WelcomeTitle">ReyRey's Restaurants</div>
</div>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="login()" id="login">
    Login
  </button>
  <button mat-raised-button color="accent" (click)="createAccount()">
    Create Account
  </button>
  <button mat-raised-button color="primary" (click)="guide()">
    Guide
  </button>
  <button mat-raised-button color="accent" (click)="project()">
    Project Repo
  </button>
</div>
<div class="reyrey-container">
  <img src="./assets/reyrey.png" class="reyrey" />
</div>
<p>puuuuuurfection</p>
